In [1]:
import pandas as pd
from obspy import read_events
from utility import get_ID_mapping_dict

In [2]:
base_file = "base_database_frame"
df = pd.read_pickle(base_file)

# The previous Chile subset
In previous analyses I created a subset of the dataset only containing events along the coast of Chile.

The following values were used to define the original subset.

In [3]:
minlatitude = -28.27
maxlatitude = -18.61
minlongitude=-73.5
maxlongitude=-68.5

In [4]:

cat_chile_coast = df.query(f"longitude >= {minlongitude} and longitude <= {maxlongitude} and latitude >= {minlatitude} and latitude <= {maxlatitude}" )
                  # f"latitude > {minlatitude}",
                  # f"latitude < {maxlatitude}",
                  # "time > 2000-01-01T00:20")

In [5]:
# cat_chile_coast_2000 = df.query("time.time > 2000")
new_cat = cat_chile_coast[cat_chile_coast["time"].apply(lambda x: x.year)>=2000]

In [6]:
new_cat.shape

(524, 22)

In [7]:
# frame_output_file = "chile_events_frame"
# new_cat.to_pickle(frame_output_file)

In [14]:
def get_new_catalog_frame(minlatitude, maxlatitude, minlongitude, maxlongitude):
    new_cat = df.query(f"longitude >= {minlongitude} and longitude <= {maxlongitude} and latitude >= {minlatitude} and latitude <= {maxlatitude}" )
    # new_cat = new_cat[new_cat["time"].apply(lambda x: x.year)>=2000]
    return new_cat

In [15]:
minlatitude = -28.27
maxlatitude = -18.61
minlongitude=-83.5
maxlongitude=-58.5
cat1 = get_new_catalog_frame(minlatitude, maxlatitude, minlongitude, maxlongitude)

In [16]:
cat1.shape

(1123, 22)

In [17]:
cat1.head()

,longitude,latitude,depth,time,mag,mag_type,m_rr,m_tt,m_pp,m_rt,...,source_time_duration,source_time_function,gcmt_id,m_rr_norm,m_tt_norm,m_pp_norm,m_rt_norm,m_rp_norm,m_tp_norm,event_id
105,-68.51,-20.54,133700.0,1976-11-30T00:41:13.300000Z,7.54,Mwc,-1.790000e+20,-3.500000e+19,2.140000e+20,5.500000e+19,...,30.2,box car,M113076A,-0.836449,-0.163551,1.000000,0.257009,-0.663551,-0.205607,QCvxzAzk
131,-68.61,-24.89,134400.0,1977-01-17T21:27:36.500000Z,6.85,Mwc,1.978000e+19,4.430000e+18,-2.422000e+19,3.270000e+18,...,20.4,box car,C011777C,0.816680,0.182907,-1.000000,0.135012,0.054913,-0.338976,SHZYFGYC
147,-62.91,-25.05,565100.0,1977-02-04T07:46:41.200000Z,6.65,Mwc,-1.800000e+18,-2.000000e+16,1.820000e+18,-5.630000e+18,...,6.0,box car,B020477A,-0.173077,-0.001923,0.175000,-0.541346,1.000000,0.108654,Kk5opeTY
220,-69.27,-23.01,129700.0,1977-04-15T23:35:40.000000Z,5.38,Mwc,-6.340000e+16,-6.600000e+16,1.294000e+17,-2.740000e+16,...,4.0,box car,B041577A,-0.489954,-0.510046,1.000000,-0.211747,-0.535549,-0.570325,EGJp1CDu
281,-69.71,-23.51,32000.0,1977-06-05T02:46:13.100000Z,5.87,Mwc,-1.055000e+17,-2.500000e+15,1.080000e+17,2.196000e+17,...,6.2,box car,B060577A,-0.148299,-0.003514,0.151813,0.308687,-1.000000,-0.465561,KHPJvRTa

In [13]:
write_again = False
if write_again:
    cat1.to_pickle("example_dataset_chile_test")

In [18]:
# cat1.to_pickle("bigger_dataset_chile")